@import url(../css/fonts.css);


/* CUSTOM-PTOPS */

:root {
    --bgColor: #0A0C1C;
    --businessBG: #1B1937;
    --white: #FFF;
    --markColor: #AB5CDB;
    --img_bg: #AB5CDB;
    --inter: "Inter";
    --Lexend_Deca: "Lexend_Deca";
}

/* //CUSTOM-PTOPS */

/* GLOBAL-STYLES */



/* //GLOBAL-STYLES */